body {
  margin: 0;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
}

.frame1,
.frame2,
.frame3 {
  background-color: #ffffff;
  box-sizing: border-box;
  border: solid;
  border-width: 20px;
  padding: 10px;
}

.frame1 {
  border-color: lightgrey;
}

.frame2 {
  border-color: lightsteelblue;
}

.frame3 {
  border-color: lightskyblue;
}
